[mysqld]
# Global
default_authentication_plugin=mysql_native_password
key_buffer_size=134217728 # 128 Мб
innodb_flush_log_at_trx_commit=1
table_definition_cache=1024
thread_cache_size=32

# Global, Session
default_storage_engine=InnoDB
